language: node_js
node_js:
  - 14.15.3
branches:
  only:
  - deploy
install:
  - yarn install
script:
  - yarn build
deploy:
  provider: npm
  email: $NPM_USER_EMAIL
  api_key: $NPM_AUTH_TOKEN
  on:
    branch: deploy